---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteInfo from "../components/SiteInfo.astro";
import CreatorInfo from "../components/CreatorInfo.astro";
import ContentHeader from "../components/ContentHeader.astro";
const { frontmatter } = Astro.props;
import "../styles/contentHeader.css";
---

<head>
  <meta charset="utf-8" />
  <title>{frontmatter.title + " " + frontmatter.subtitle}</title>
</head>
<BaseLayout pageTitle={""}>
  <div class="content-info">
    <img src={frontmatter.image} alt={frontmatter.title} />
    <ContentHeader date={frontmatter.date} eventTag={frontmatter.eventTag} />
    <h2 class="content-name">{frontmatter.title}</h2>
    <h3 class="content-subtitle">{frontmatter.subtitle}</h3>
    <h4 class="content-abstract-title">概要</h4>
    <div class="content-detail"><slot /></div>
    <SiteInfo
      siteUrl={frontmatter.siteUrl}
      hashtag={frontmatter.hashtag}
      webRiddleUrl={frontmatter.webRiddleUrl}
    />
    {
      frontmatter.creators.length > 0 && (
        <>
          <h4 class="content-abstract-title">制作に携わったクリエイター</h4>
          <CreatorInfo creators={frontmatter.creators} />
        </>
      )
    }
  </div>
</BaseLayout>
<style>
  img {
    border-radius: 6px;
    margin: 1rem 0;
    display: block;
    max-width: 100%; /* 追加 */
    height: auto; /* 追加 */
  }
  .content-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  h2 {
    text-align: center;
    padding: 0rem 0;
    margin: 0;
    font-size: 2.5rem;
  }
  h3 {
    text-align: center;
    padding: 0rem 0;
    margin: 0;
    font-size: 1.8rem;
  }
  h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: var(--text);
    border-radius: 999px;
  }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding: 0 0;
    font-size: 1.9rem;
    color: var(--text);
  }
  .content-abstract-title {
    position: relative;
    padding-left: 2rem; /* 画像幅 + 余白 */
  }

  .content-abstract-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.9rem; /* bullet のサイズ調整 */
    height: 1.9rem;
    background: url("/iconsUseful/bulletTriangle.png") no-repeat center;
    background-size: contain;
  }
  .content-detail {
    margin: 0.5rem;
    padding: 0;
    font-size: 1rem;
    color: var(--text);
  }

  :global(.content-detail) {
    font-weight: 200 !important;
  }

  :global(.content-info .content-header) {
    font-size: 1.1rem;
  }
  /* スマホは1列＋左右1rem */
  @media (max-width: 635px) {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    h4 {
      font-size: 1.1rem;
    }

    :global(.content-info .content-header) {
      font-size: 0.8rem;
    }

    .content-detail {
      font-size: 0.75rem;
    }
  }
</style>
